.container-fluid{
    font-family: 'Oswald', sans-serif;
}
.conteiner__logo{
    height: 70px;
    width: 80px;
}

#carousel{
    display: none;
 }

.efecto{
    color: bisque;
}
.efecto:hover{
    padding:20px;
    background-color: rgb(248, 204, 9);
    color:rgb(0, 0, 0);
}

.article--estadistica{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    
    background-color: rgb(249,186,43) ;     
}
.article__titulo--dark{
    font-size: 40px;
    font-weight:800;
    color:black;
}


.article--iconic{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    background-color:rgb(236,85,110) ;  
}


.article--novedad{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    background-color:rgb(101,168,212);
}
.article__titulo--light{
    font-size: 40px;
    font-weight:800;
    color:ghostwhite;
}

.aside__conteiner{
    display:none;
}

.footer__conteiner--redes{
    background-color: bisque;
}
.footer__conteiner--sponsor{
    background-color:black;
}

.footer__logos--sponsor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: bisque;
}
.footer--sponsor h2{
    color: bisque;
}
.footer__logos--redes{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.footer__titulo--sponsor{
    display: flex;
    justify-content: center;
    color: bisque;
}
.footer__titulo--redes{
    display: flex;
    justify-content: center;
    color:black;
}
.footer__ul{
    list-style: none;
}
.ul__li__a--sponsor{
    
    font-size: 25px;
    color: bisque;
    text-decoration: none;
}

.button--linkpage{
    display: none;
}
.a__button{
  display: none;
}

img{
    height: 100%;
    width: 100%;
}
.article__img{
    height: 180PX;
    width: 200PX;
    border-radius: 20px;
}
.article__img:hover{
    height: 200px;
    width: 270px;
}
.img__logo--redes{
    height: 24px;
    width: 24px;
}
.img__logo--redes:hover{

    height: 30px;
    width: 30px;
}
.footer__conteiner--sitio{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}
.footer__conteiner--logo{
    margin: 50px;
    height: 80px;
    width: 100px;
}
.h1--estadisticas{
    color: black;
}
.conteiner__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__conteiner--stats{
    display: flex;
    justify-content: space-between;
    background-color:rgb(249,186,43)  ;
}
.caja__stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 80vh;
    background-image: url(../img/m30.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}
.elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.stats__barra{
    height: 20px;
    width: 200px;
    background-color: aqua;
    border-radius: 20px;
}
.stats__progreso{
    display: flex;
    height: 100%;
    width: var(--w);
    background-color: blueviolet;
    border-radius: 15px;
    animation: aumento 5s ease;
}

@keyframes aumento {
    0%{width: 0%;}
    100%{width:var(--w);}
}
.h2__fondo--stats{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}
.stats__h2--TituloComparativo{
    color: aliceblue;
}
.card{
    height: 350px;
    width:170px;
}
.article__card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(101,168,212);
}


.iconic--video{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}



/*SCREEN DE PAGINA PRINCIPAL*/
@media screen and (min-width: 1200px){
    .article__img{
        height: 200px;
        width: 250px;
        border-radius: 20px;
    }
    .article__img:hover{
        height: 250px;
        width: 300px;
    }
    .article--estadistica{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        height: 350px;
        width: 100%;
        background-color: rgb(249,186,43) ;     
    }
    .article__titulo--estadistica{
        font-size: 50px;
        font-weight:800;
        color:black;
    }
    

    .article--iconic{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 350px;
        width: 100%;
        background-color: rgb(236,85,110) ;  
    }
    .article__titulo--iconic{
         font-size: 50px;
         font-weight:800;
        color: aliceblue;
    }

    .article--novedad{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 350px;
        width: 100%;
        background-color:rgb(101,168,212);
    }
    .article__titulo--novedad{
        font-size: 40px;
        font-weight:800;
        color:ghostwhite;
    }
    .aside__conteiner{
        display: block;
        background-color: bisque;

    }
    .button--linkpage{
        display: block;
    }
    button{
        border-radius: 20px;
        height: 60px;
        width: 100px;
        background-color:ghostwhite;
        border-color: black;
    }
    
    .a__button{
        display: block;
        text-decoration: none;
        color:black;
        font-size: 20PX;
    }
    button:hover{
        height: 90px;
        width: 130px;
    }
   #carousel{
    display: flex;
    justify-content: center;
   }
    .carousel-inner{
       width: 100vw;
    }
    .carousel-item {
        height: 400px;
    }
   
    .carousel__h5--oscuro{
        color: black;
    }
    .carousel__p--oscuro{
        color: black;
    }
    .carousel-control-prev-icon{
        color: black;
    }
    .carousel__fondo--texto{
        border-radius: 20px;
        background-color: aqua;
    }
 
    .card{
        height: 350px;
        width:170px;
    }
   .article__card{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color:rgb(101,168,212);
        height: 70vh;
        
   }

}




